body {
  height: 100vh;
  background: url(img/background.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 250px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 3px;
}

#timer {
  width: 80%;
  font-size: 72px;
  text-align: center;
  margin: 0px auto;
  padding: 35px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 0 10px;
  border: none;
  padding: 0;
  text-align: center;
}

button i {
  font-size: 2rem;
  padding: 10px;
  color: white;
  width: 50px;
}

#play {
  background-color: green;
}

#reset {
  background-color: red;
}

#pause {
  background-color: orange;
}

#play:hover {
  background-color: darkgreen;
}

#reset:hover {
  background-color: darkred;
}

#pause:hover {
  background-color: darkorange;
}

@media (max-width: 576px) {
  .container {
    width: 80%;
    height: 300px;
  }

  #timer {
    margin: 20px 0;
    font-size: 64px;
  }
}
